<strong>List of All Prosepcts</strong><br>

<%= link_to "New Article", new_prospect_path %>
<table>
    <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
    </tr>

    <% @prospects.each do |prospect| %>
    <tr>
        <td><%= prospect.first_name %></td>
        <td><%= prospect.last_name %></td>
        <td><%= prospect.email %></td>
        <td><%= link_to "Show", prospect_path(prospect)%></td>
    </tr>
<% end %>
</table>


